/* Body*/
body{
  background-color: #b3e4fc;
}
.container {
  margin-left: auto;
  margin-right: auto;
}
.empty {
  height: 13em;
}
.welcomeHandler {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
.welcome {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
}
.para {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.para1 {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
}
