/* Body*/
body{
  background-color: #b3e4fc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.empty {
  height: 70px;
}

.empty_1 {
  height: 300px;
}

.welcome {
  text-align:center;
  font-size: 40pt;
  padding-bottom: -30px;

}

.description {
  text-align:center;
  font-size: 10pt;
  padding-left: 40px;
  padding-right: 40px;
}

.btn {
  border: none;
  background-color:#b3e4fc;
  font-size: 16px;
  cursor: pointer;
  display:inline-block;
}

/* On mouse-over */

.btn:hover {
    color: white;
  }

    .begin {
      height: 50px;
      width: 300px;
      color: black;
      box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
      font-size: 11pt;
      text-align: center;


